/* UNIVERSAL SELECTORS ------------------------------------------*/

*{
	box-sizing: border-box;
}
/* BODY --------------------------------------------------------*/

body {
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	width: 100%;
	overflow-x: hidden;

}

/* HEADER & MAIN NAV BAR ------------------------------------------*/

header {
	background-color: rgba(151,60,55,0.98);
	position: fixed;
	top: 0;
	width: 100%;
	padding: 15px 0;
	z-index: 900;
    margin-left: -8px;
/*	margin-right: -8px;*/
}

header nav{
	float: right;
	display: block;
	color: #F5F5F5;
	padding: 10px 20px;
}

nav a {
	display: inline-block;
	padding: 0 20px;
	font-size: 1.125rem; /*18px*/
	margin-right: -15px;
}

nav a:link, 
nav a:active, 
nav a:visited {
	color: #F5F5F5;
	font-weight: bold; 
	text-decoration: none;
}

nav a:hover {
	color: rgba(245,245,245,0.6);
}

.nav-icon {
  display: none;
}

/*.logo-container{
	width: 10%;
	margin-left: 25px;
	margin-top: 15px;
	position: fixed;
	z-index: 1000;
}

#logo {
	float: left;
	border-radius: 50%;
	border: 1.5px solid #301F0D;
	background-color: #F5F5F5;
	padding: 10px;
	width: 100px;
}*/

.logo-container{
	width: 10%;
	margin-left: 10px;
	margin-top: 15px;
	position: fixed;
	z-index: 1000;
	top: 0.5%;
	left: 0%;
}

#logo {
	border-radius: 50%;
	border: 1.5px solid #301F0D;
	background-color: #F5F5F5;
	width: 100px;
	padding: 10px;
}

.topnavs a{
	display: block;
	text-align: right;
	padding-bottom: 5px;
}


/* SECTION ONE ------------------------------------------*/
.section-one-wrapper {
	width: 100%;
	background-image:linear-gradient(#973C37, #973C37 15%, #301F0D);
	padding-top: 80px;
	margin-left: -8px;
	position: relative;
/*	margin-right: -8px;*/
}

.section-one {
	width: 75%;
	margin: auto;
}

h1.section-one-text {
	color: #F5F5F5;
	font-size: 2.25rem; /*36px*/
	line-height: 0.5em;
}

h2.section-one-text {
	color: #F5F5F5;
	font-size: 1.75rem; /*28px*/
	font-style: italic;
}


h3.section-one-text {
	color: #F0B660;
	font-size: 1.125rem; /*18px*/
	font-weight: bold;
	text-transform: uppercase;
}

.video-container {
	width: 60%;
	margin: auto;
	position: relative;
	padding-bottom: 33.75%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
  margin: 3% 0 5%;
  background-color: #FFC368;
  border: 3px solid #FFE3B9;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem; /*18px*/
}

button a:link {
	text-decoration: none;
	color: #301F0D;
	font-weight: bolder;
}

button a:visited {
	text-decoration: none;
	color: #301F0D;
	font-weight: bolder;
}

button:hover {
  background-color: #FFE3B9;
}

button:active {
  background-color: #DBC39F;
}


.first-container {
	width: 40%;
	margin: auto;
	position: absolute;
	bottom: 0px;
	right: 10px;
}

#fortune {
	width: 20%;
	float: right;
 }


/* SECTION TWO ------------------------------------------*/
.section-two-wrapper {
	width: 100%;
	background-color: #FFC368;
	padding-top: 5%;
	margin-left: -8px;
/*	margin-right: -8px;*/
}



.section-two {
	width: 75%;
	margin: auto;
}

.divider-wrapper {
	padding-bottom: 30px;
}

h2.how-to-header {
	font-weight: bolder;
	color: #301F0D;
	font-size: 2.375rem; /*38px*/
	margin-top: 5px;
	line-height: 0.5em;
	text-transform: uppercase;
}

p {
	color: #301F0D;
	font-size: 1.5rem; /*24px*/
	font-weight: bold;
	line-height: 2em;
	padding-bottom: 20px;
	margin-top: -10px;
}

.how-to-img{
	width: 65%;
	padding-bottom: 5%;
}

#safe {
	background-color:#4BA56E;
	padding: 3px;
	border-radius:5px;
}

#danger {
	background-color:#D36953;
	padding: 3px;
	border-radius:5px;
}

#danger-p {
	margin-top: -1%;
	padding-bottom: 5%;
}

#demo {
	background-color: #973C37;
}

#demo a:visited, 
#demo a:link{
		color: #301F0D;
}

.button-container {
	width: 100%;
	margin: auto;
}

/* SECTION THREE ------------------------------------------*/
.section-three-wrapper {
	width: 100%;
	background-color: #F5F5F5;
	padding-top: 2%;
	margin-left: -8px;
/*	margin-right: -8px;*/
}

.section-three {
	width: 90%;
	margin: auto;
}

h2.review-header {
	font-weight: bolder;
	color: #301F0D;
	font-size: 2.375rem;
	margin-bottom: 4%;
	text-transform: uppercase;
}

.review-container {
	width: 50%;
	margin: auto;
	padding: 10px 25px;
	display: inline-block;
}


.odd {
	float: left;
	transform: rotate(-5deg);
}


.even {
/*	float: right;*/
	transform: rotate(3deg);
}

.review-img {
	width: 100%;
	margin:auto;
}


/* THANK YOU SECTION  ------------------------------------------*/

.thankyou-wrapper {
	width: 100%;
	padding-top: 80px;
	margin-left: -8px;
	padding-bottom: 50px;
	position: relative;
	background-color: #f5f5f5;

}

.thankyou-section {
	width: 75%;
	margin: auto;
}

.image-container{
	width: 60%;
	margin: auto;
	padding: 10px;
}

.thankyou {
	background-color: #F5F5F5;
	width: 65%;
	padding: 5px;
}

h1.thankyou-text {
	color: #301F0D;
	font-size: 2.25rem; /*36px*/
	text-tranform: capitalize;
}

.p-container {
	width: 75%;
	margin: auto;
}


p.cap-text {
	color: #301F0D;
	font-size: 1.25rem; 
	font-weight: bold;
	padding-bottom: 0px;
	line-height: 2rem;
	margin-bottom: 0px;
}

p.thankyou-text {
	color: #301F0D;
	font-size: 1.25rem; 
	font-weight: bold;
}

p a:link, 
p a:active, 
p a:visited {
	color: #FFC368;
}

.thankyou-two-wrapper {
	width: 100%;
	background-color: #F5F5F5;
	padding-top: 4%;
	padding-bottom: 2%;
	margin-left: -8px;
	margin-top: 0;
/*	margin-right: -8px;*/
}

h2.thankyou-header {
	font-weight: bold;
	color: #301F0D;
	font-size: 2.375rem; /*38px*/
	margin-top: 5px;
	text-transform: capitalize;
}

.peek {
	width: 85%;
}

.coming {
	font-style: italic;
}

.body-wrapper {
	height: 100vh;
}

/* FOOTER  ------------------------------------------*/

.footer-basic {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
	margin-left: -8px;
/*	margin-right: -8px;*/
  background-color: #301F0D;
  border-top: 8px solid #973C37;
  border-bottom: 8px solid #973C37;
  bottom: 0;
}

.footer-basic h5 {
  width: 100%;
  bottom: 0;
  text-align: center;  
  color: #F0B660;
  font-size: 0.75rem; /*12px*/
}


.footer-basic .footer-icons{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 30px;
}

.footer-basic .footer-icons a{
	display: inline-block;
	color: #F0B660;
	text-align: center;
	font-size: 24px;
	padding: 30 30px;
	margin: 30px 30px 15px 30px;
}

#bgg {
  color: #F0B660;
  font-size: 0.75rem; 
  padding: 0;
  margin: 0;
}

#bgg a:visited {
	color: ##F0B660;
}

/* BUY  ------------------------------------------*/
.section-four-wrapper {
	width: 100%;
	padding-top: 10%;
	background-color: #f5f5f5;
	padding-bottom: 12%;
	margin-left: -8px;
}

.content {
	height: 100vh;
	background-color: #FFC368;
}

.order-container-1 {
	width: 55%;
	margin: auto;
	display: inline-block;
}

.order-container-2 {
	width: 45%;
	margin: auto;
	display: inline-block;
	text-align: left;
	padding-left: 40px;
	padding-top: 5px;
	border-left: 1.5px solid rgba(48,31,13,0.9);
}

.order-header {
	font-size: 2rem;
	color: #301F0D;
    margin-bottom: 4%;
    text-transform: uppercase;
}


.box {
	float: left;
}

p.box-header {
	padding-bottom: 10px;
	margin-bottom: 5px;
}

p.description {
	padding-bottom: 10px;
	margin-bottom: 5px;
	font-size: 1.2rem;
}

p.includes {
	padding-bottom: 10px;
	margin-bottom: 5px;
	font-size: 1rem;
	font-style: italic;
	opacity: 90%;
	color: rgba(48,31,13,0.9)
}

.order-img {
	width: 70%;
}

input[type="submit"] {
  margin: 3% 0 5%;
  background-color: #FFC368;
  border: 3px solid #FFE3B9;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem; /*18px*/
  margin-top: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
	rgba(245,245,245,0.6)
}

/* CLEARFIXES  ------------------------------------------*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* MEDIA QUERY  ------------------------------------------*/

@media (max-width: 857px) {

	header li{
	 font-size: 1rem;
	}

	#logo {
	 width: 120%;
    }

	h1.section-one-text {
	 font-size: 1.75rem;
	}

	h2.section-one-text {
	 font-size: 1.5rem;
	}

	h3.section-one-text {
	 font-size: 1rem;
	}

	h2.how-to-header {
	 font-size: 2rem;
	}

	h2.review-header {
	 font-size: 2rem;
	}


	p {
	 color: #301F0D;
	 font-size: 1.2rem;
	 font-weight: bold;
	}

	.first-container {
		display: none;
	}	

	.section-two {
	 width: 90%;
	 margin: auto;
	}

	.how-to-img{
	 width: 85%;
	}

	.review-container {
	width: 100%;
}

.odd {
	float: none;
	transform: rotate(1deg);
}


.even {
	float: none;
	transform: rotate(-1deg);
}

.content {
height: auto;

}

.box {
	float: none;
}

.order-container-1,
.order-container-2 {
	width: 80%;
	border-left: 0;
}

.order-container-1 {
	padding-top: 10%;
}

.image-container{
	width: 80%;}


}

@media (max-width: 666px) {
	#logo {
	 width: 80px;
    }

    .section-one-wrapper {
	background-image:linear-gradient(#973C37, #973C37 25%, #301F0D);
}

	h1.section-one-text {
	 font-size: 1.5rem;
	 line-height: 1em;
	}

	h2.section-one-text {
	font-size: 1.3rem;
	}

	.topnav a {
	 display: none;
	}
    
    .topnav a.nav-icon {
    float: right;
    display: block;
    color: #F5F5F5;
	}

	.topnav.responsive {
	position: relative;
	}

    .topnav.responsive a.nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  	}

    .topnav.responsive a {
     float: none;
     display: block;
     text-align: right;
    }

	 button {
	  width: 35%;
	  font-size: 1.2rem;
	  padding: 3% 0;
	  margin-top: 5%;
	  text-align: center;
	}

	.section-two-wrapper {
	padding-top: 10%;
}

h1.form-title {
	font-size: 28px;
}

p.banner-text {
	font-size: 12px;
}

.odd {
	transform: rotate(0);
}


.even {
	transform: rotate(0);
}

.review-container {
	padding: 5px 5px;
}

.video-container {
	width: 100%;
	padding-bottom: 56.25%
}

.section-one {
	width: 90%;
}

.image-container{
	width: 95%;
	}

}


@media (max-width: 440px) {
	 button {
	  font-size: 0.8rem;
	}

	.footer-basic .footer-icons a{
	font-size: 1.3rem;
 	}

	.even {
	margin-top: -10%;
}


}









